// MAIN colors

$Dark_Violet: hsl(256, 26%, 20%);
$Grayish_Blue: hsl(216, 30%, 68%);

// ### Neutral

$Very_Dark_Violet: hsl(270, 9%, 17%);

$Dark_Grayish_Violet: hsl(273, 4%, 51%);

$Very_Light_Gray: hsl(0, 0%, 98%);
