.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0deg, 0%, 98%);
  background-image: url(/src/images/bg-pattern-footer-mobile.svg);
  background-repeat: no-repeat;
}

.logo-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer .logo {
  margin-top: 7rem;
}

.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // width: 100%;
}

.links {
  text-align: center;
  text-transform: uppercase;
}

.footer-nav {
  font-size: 1.4rem;
  color: $Dark_Grayish_Violet;
}

.links ul {
  list-style: none;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links ul li {
  font-size: 1.4rem;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
