@media screen and (min-width: 600px) {
  .image-container {
    background-image: url("../images/image-intro-desktop.jpg");
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    position: relative;
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 36rem;
    height: 44rem;
    z-index: 1;
  }

  .plans {
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    width: 100vw;
  }

  .description {
    text-align: left;
    width: 56ch;
  }

  .heading {
    text-align: left;
    width: 15ch;
  }

  .image-container {
    background-image: url("../images/image-intro-desktop.jpg");
    transform: translate(-2%, 10%);
  }

  .intro-img {
    display: none;
    &-desktop {
      display: block;
      transform: translatey(30%);
    }
  }

  .intro-btm {
    display: none;
    &-desktop {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      transform: translateY(-14%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .image-container {
    transform: translate(-20%, 10%);
  }
}

@media screen and (min-width: 1200px) {
  .image-container {
    transform: translate(-30%, 10%);
  }
}

@media screen and (min-width: 1400px) {
  .image-container {
    transform: translate(-50%, 10%);
    width: 34rem;
    height: 45rem;
  }
}

@media screen and (min-width: 1700px) {
  .plans {
    min-height: 60rem;
  }

  .intro-img-desktop {
    transform: translatey(80%);
  }

  .image-container {
    transform: translate(-80%, 10%);
    width: 54rem;
    height: 65rem;
  }
}
