@media screen and (min-width: 600px) {
  .image-container {
    background-image: url("../images/image-intro-desktop.jpg");
  }

  .footer {
    display: flex;
    background-image: url(/src/images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
  }

  .logo-social {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer .logo {
    margin-top: 0;
  }

  .links-container {
    width: 100%;
    flex-direction: row;
  }

  .btn-logo {
    display: none;
  }

  .main-nav {
    display: block;
    padding-right: 3rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
  }

  .nav-link {
    font-weight: 700;
    color: hsl(273, 4%, 51%);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 900px) {
  .links-container {
    justify-content: center;
    gap: 8rem;
  }
}

@media screen and (min-width: 1000px) {
  .hero {
    position: relative;
  }

  .image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 36rem;
    height: 44rem;
    z-index: 1;
  }

  .plans {
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    width: 100vw;
  }

  .description {
    text-align: left;
    width: 56ch;
  }

  .heading {
    text-align: left;
    width: 15ch;
  }

  .image-container {
    background-image: url("../images/image-intro-desktop.jpg");
  }

  .intro-img {
    display: none;
    &-desktop {
      display: block;
      transform: translatey(30%);
    }
  }

  .intro-btm {
    display: none;
    &-desktop {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      transform: translateY(-14%);
    }
  }
}

@media screen and (min-width: 1200px) {
  .logo-icon {
    padding-left: 10rem;
  }

  .main-nav {
    padding-right: 10rem;
  }
}

@media screen and (min-width: 1700px) {
  .plans {
    min-height: 60rem;
  }

  .intro-img-desktop {
    transform: translatey(80%);
  }

  .image-container {
    width: 54rem;
    height: 65rem;
    transform: translate(-80%, 10%);
  }
}
