.header {
}

nav {
  padding: 0 2rem;
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.hero {
  width: 100%;
}

.intro {
  width: 100%;
  height: auto;
}

.image-container {
  background-image: url("../images/image-intro-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  color: white;
}

.description {
  width: 85%;
  text-align: center;
  color: $Very_Light_Gray;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 7rem 0;
  background-color: $Dark_Violet;
  position: relative;
  // background-image: url(/src/images/bg-pattern-intro-right-mobile.svg);
  // background-repeat: no-repeat;
  // background-position: right bottom;
}

.image-container {
  height: 45rem;
}

.intro-img,
.intro-img-desktop {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-btm {
  position: absolute;
  right: 0px;
  bottom: -34%;
  width: 10rem;
}

.intro-img {
  display: block;
  &-desktop {
    display: none;
  }
}

.intro-btm {
  display: block;
  &-desktop {
    display: none;
  }
}
