.btn-logo {
  border: none;
  background-color: transparent;
}

nav {
  padding: 0 2rem;
  min-height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-view-plan {
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  background-color: white;
  border: black solid 2px;
  color: black;
  transition: ease-in-out 0.3s;
}
.btn-view-plan:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.main-nav {
  display: none;
}

.navigation-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  position: absolute;
  width: 100%;
  height: 45rem;
  background-color: hsl(256, 26%, 20%);
  top: 0;
  right: 0;
  transform: translate(0%, 80px);
  background-image: url(/src/images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: 4px 100%;
}

.navigation-mobile .nav-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}

.navigation-mobile .nav-top {
  margin-top: 4rem;
}

.hidden {
  display: none;
}

.close {
  cursor: pointer;
  display: none;
}

.logo {
  cursor: pointer;
}

.menu {
  cursor: pointer;
  z-index: 1;
}

.hero {
  width: 100%;
}

.intro {
  width: 100%;
  height: auto;
}

.image-container {
  background-image: url("../images/image-intro-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  color: white;
}

.description {
  width: 85%;
  text-align: center;
  color: $Very_Light_Gray;
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 7rem 0;
  background-color: $Dark_Violet;
  position: relative;
  // background-image: url(/src/images/bg-pattern-intro-right-mobile.svg);
  // background-repeat: no-repeat;
  // background-position: right bottom;
}

.image-container {
  height: 45rem;
}

.intro-img,
.intro-img-desktop {
  position: absolute;
  top: 0;
  left: 0;
}

.intro-btm {
  position: absolute;
  right: 0px;
  bottom: -34%;
  width: 10rem;
}

.intro-img {
  display: block;
  &-desktop {
    display: none;
  }
}

.intro-btm {
  display: block;
  &-desktop {
    display: none;
  }
}
