@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100vw;
  font-size: 1.6rem;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
}

.section {
  padding: 0 2.5rem;
  margin: 0 auto;
}

.title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 4rem;
  color: hsl(270deg, 9%, 17%);
  text-align: center;
  line-height: 1;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

.paragraph {
  color: hsl(273deg, 4%, 51%);
}

.header {
  max-width: 37.5rem;
}

nav {
  min-height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.menu {
  cursor: pointer;
}

.hero {
  width: 100%;
}

.image-container,
.plans {
  width: 100%;
}

.plans {
  display: flex;
  flex-direction: column;
  padding: 7rem 0;
}

.about, .feature, .different__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.different {
  padding-top: 12rem;
  padding-bottom: 3rem;
}

.different__title {
  text-align: center;
  position: relative;
}
.different__title::after {
  content: "";
  position: absolute;
  width: 15rem;
  border-bottom: 1px solid hsl(256deg, 26%, 20%);
  top: 0;
  left: 0;
  transform: translate(66%, -40px);
}

.different__inner {
  gap: 6rem;
  padding: 9rem 0;
}

.feature__img {
  max-width: 8.6rem;
}

.feature__title {
  font-size: 2.4rem;
  margin-top: 4rem;
}

.feature__paragraph {
  margin-top: 2.4rem;
  max-width: 33rem;
  text-align: center;
}

.about {
  height: 35rem;
  width: 100%;
  padding: 0 2.5rem;
  background-color: hsl(256deg, 26%, 20%);
  background-image: url("/src/images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position: right top;
  justify-content: center;
  gap: 3rem;
}

.about__title {
  color: hsl(0deg, 0%, 98%);
  width: 15ch;
}

@media screen and (min-width: 800px) {
  .section {
    padding: 0 5rem;
  }

  .different__title {
    text-align: left;
  }
  .different__title::after {
    transform: translate(0%, -40px);
  }

  .different__inner {
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    align-items: flex-start;
  }

  .feature__paragraph {
    text-align: left;
  }

  .about {
    flex-direction: row;
    justify-content: space-around;
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
    background-position: center right;
    background-size: contain;
  }

  .about__title {
    width: fit-content;
    font-size: 5rem;
    max-width: 22ch;
    text-align: left;
  }
}
@media screen and (min-width: 1400px) {
  .section {
    padding: 0 8rem;
  }
}

/*# sourceMappingURL=style.css.map */
